<!-- Contact -->
<div class="mb4">
  <h4 class="f3 b lh-title mb3 tc">{{ i18n "fill_form" }}</h4>

  <form name="contact" method="POST" netlify netlify-honeypot="phone" action="{{ "thank-you/" | relLangURL }}">
    <p class="hidden">
      <label>Don’t fill this out if you're human: <input name="phone" /></label>
    </p>
    <div class="flex-l mhn1-l">
      <!-- Name -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="text" id="name" name="name" placeholder="{{ i18n "name_form" }}" class="w-100 mb2" required>
          <label for="name">{{ i18n "name_form" }}</label>
        </fieldset>
      </div>
      <!-- Email -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="email" id="email" name="email" placeholder="{{ i18n "email_form" }}" class="w-100 mb2" required>
          <label for="email">{{ i18n "email_form" }}</label>
        </fieldset>
      </div>
    </div>

    <!-- Message -->
    <fieldset>
      <textarea id="message" name="message" placeholder="{{ i18n "email_message" }}" rows="8" cols="80" class="w-100" required></textarea>
      <label for="message">{{ i18n "email_message" }}</label>
    </fieldset>
    <!-- Button -->
    <div class="tc">
      <input type="hidden" name="lang" id="lang" value="{{ .Lang }}">
      <button type="submit" class="btn w-100 w-auto-ns raise">{{ i18n "send_form" }}</button>
    </div>
  </form>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.forms["contact"];
    if (form) {
      const lang = document.getElementById("lang")?.value || "uk";
      form.setAttribute("action", `/${lang}/thank-you/`);
    }
  });
</script>


