<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<!-- <div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Lawyer logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">{{ .Site.Data.footer.title }}</p>
			<p>{{ .Site.Data.footer.blurb }}</p>

			{{ partial "newsletter-form" . }}

		</div> -->

		<div class="flex-ns justify-between">
			
			<div>
				<h3 class="f4 b lh-title mb1 primary">{{ i18n "lawyers" }}</h3>
				<ul class="mb3">
				  <li><a href="{{ "/" | relLangURL }}" class="link">{{ i18n "home" }}</a></li>
				  <li><a href="{{ "products" | relLangURL }}" class="link">{{ i18n "products" }}</a></li>
				  <li><a href="{{ "values" | relLangURL }}" class="link">{{ i18n "values" }}</a></li>
				  <li><a href="{{ "post" | relLangURL }}" class="link">{{ i18n "blog" }}</a></li>
				  <li><a href="{{ "contact" | relLangURL }}" class="link">{{ i18n "contact" }}</a></li>
					<!-- Language Switcher as menu item -->
					{{ range .Site.Languages }}
						{{ if ne .Lang $.Site.Language.Lang }}

							{{ $targetLang := .Lang }}
							{{ $translated := "" }}

							{{ range $.Translations }}
								{{ if eq .Lang $targetLang }}
									{{ $translated = . }}
								{{ end }}
							{{ end }}

					<li>
							{{ if $translated }}
								<a href="{{ $translated.RelPermalink }}" class="link">{{ .LanguageName }}</a>
							{{ else }}
								<a href="{{ .Lang | relLangURL }}" class="link">{{ .LanguageName }}</a>
							{{ end }}
					</li>

						{{ end }}
					{{ end }}
				</ul>
			</div>
			
			<div>
				<h3 class="f4 b lh-title mb1 primary">{{ i18n "about_us" }}</h3>
				<ul class="mb3">
				  <li><a href="{{ "/post/jamaica-blue/" | relLangURL }}" class="link">{{ i18n "latest_cases" }}</a></li>
				  <li><a href="{{ "/contact" | relLangURL }}" class="link">{{ i18n "work_schedule" }}</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">{{ i18n "social_media" }}</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook" "alt" "Lawyer on Facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter" "alt" "Lawyer on Twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram" "alt" "Lawyer on Instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo" "alt" "Lawyer on Vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

